header {
  text-align: center;
  font-size: xx-large;
  padding-top: 20px;
  margin: 0px;

}

.text-primary {
  font-size: 50px;
  color: #FFF;
}

/*  */
.text {
  color: #ebe3e3;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: -20px;
}

.btn-primary {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #cc4542;
  font-weight: 700;
  font-size: 20px;
  color: #FFF;


}

.header {
  background: #FFF8F3;
  background-image: url(../images/donation1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

}

.banner {
  align-items: center;
  display: flex;
  margin: 0 200px;
}

.donate {
  text-align: center;
  font-size: 40px;
}

.title {
  text-align: center;
  color: rgb(137, 132, 125);
}

.money {
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.color {
  color: #d3100c;
  border: 1px solid orangered;
  background-color: #ebe3e3;
  padding: 20px 5px;
  width: 110px;

}

.money100tk {
  background-color: #ebe3e3;
  padding: 20px 5px;
  border: none;
  opacity: 40%;
}

.other {
  text-align: center;
  opacity: 40%;
}

.btn-style {
  color: #FFF;
  padding: 18px 35px;
  border: 0;
  height: 60px;
  border-radius: 5px;
  background: #cc4542;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  left: 45%;
}

.plan {
  text-align: center;
  font-size: 40px;
  margin-top: 200px
}

.lorem {
  text-align: center;
  color: #887e7e;
}



#skill-container {
  display: flex;
  margin: 50px 100px;
  gap: 20px;
}

.skill-1 {
  background-color: rgb(223, 242, 241);
  padding: 24px;
  border-radius: 5px;
}

.skill-2 {
  background-color: #f7def7;
  padding: 24px;
  border-radius: 5px;

}

.skill-3 {
  background-color: #dbcad5;
  padding: 24px;
  border-radius: 5px;
}



.section1 {
  display: flex;

}


.section1 .section-img img {
  width: 400px;
  height: 300px;
  margin-right: 200px;
  border-radius: 5px;
}

.their {
  font-size: 40px;
  padding-left: 100px;

}

.dolor {
  color: #887e7e;
  padding-left: 100px;
  margin-right: 400px;
}

.btn {
  color: #FFF;
  padding: 10px 10px;
  border: 0;
  height: 40px;
  border-radius: 5px;
  background: #ae0e0b;
  margin-left: 100px;
}

.title-line {
  display: flex;
}

.images2 {
  width: 400px;
  height: 300px;
  margin-left: 100px;
  padding-top: 100px;
  border-radius: 5px;

}

.need {
  margin-left: 100px;
  padding-top: 40px;
  font-size: 40px;
}

.sit {
  color: #887e7e;
  padding-left: 100px;
  margin-right: 400px;
}

.get {
  text-align: center;
  padding-top: 50px;
}

.amet {
  text-align: center;
  padding: 0px 500px;
  color: #887e7e;
}

.form {
  margin-top: 50px;
  padding: 10px 10px;
  border-radius: 3px;
  border: none;
  margin-left: 130px;
  background-color: #dbcad5
  
  
}
.sub{
  color: #fffafa;
  padding: 10px 30px;
  border: 0;
  border-radius: 3px;
  background: #d76260;

}
.bac-clr{
  background-color: #f9ebeb;
  padding-bottom: 50px;
  margin-right: 400px;
  margin-left: 400px;
  margin-bottom: 100px;
}
.humble{
  text-align: center;
  background: rgb(37, 36, 36);
  color: #d76260; 
 margin: auto;
 width: 100%;
 padding: 10px;
}
